<!--

<div *ngIf="user">
  <h2 class="page-header">{{user}}</h2>
  <ul class="list-group">
    <li class="list-group-item">Username : {{user.username}}</li>
    <li class="list-group-item">Email : {{user.email}}</li>
  </ul>
</div>

-->


<p>Seems to be like we are in middle of upgrade Process!... wWe will take you before you lost somewhere!...</p>

<li class = "nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/']">Take Me</a></li>
<button [routerLink]="['/']" class="btn-success"></button>
